@model FrontEnd.Models.FormLoginModel
@{
    Layout = null;
    var AppName = Tropical.Infrastructure.Util.ParameterCollection.GetParamValue("AppName");
}
@using (Html.BeginForm("FormSignIn", "Home", FormMethod.Post, new { @class = "smart-form client-form", id = "frmSignIn", style=(Model.ReturnAttribute != null && Model.ReturnAttribute.Errors.Any() ? "" : "display:none")}))
{
    @Html.AntiForgeryToken()
    <header>
        Quero me cadastrar
    </header>
    <fieldset id="pnlForm" style="padding-top:15px!important;">
        @if (TempData["MsgErrorPag"] != null)
        {
            <div class="alert alert-danger fade in">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading">@(AppName) Alert</h4>
                @TempData["MsgErrorPag"].ToString()
            </div>
        }
        <section>
            <label class="label" for="Name">Nome ou Razão Social</label>
            <label class="input">
                @Html.TextBoxFor(o => o.Name, new { @autoautocomplete = false })
                @Html.Raw(Model.ReturnAttribute.GetError("Name"))
            </label>
        </section>
        <section>
            <label class="label" for="Document">CPF ou CNPJ</label>
            <label class="input">
                @Html.TextBoxFor(o => o.Document, new { @autoautocomplete = false })
                @Html.Raw(Model.ReturnAttribute.GetError("Document"))
            </label>
        </section>
        <div class="row">
            <section class="col col-10">
                <label class="label" for="Address">Endereço</label>
                <label class="input">
                    @Html.TextBoxFor(o => o.Address, new { @autoautocomplete = false })
                    @Html.Raw(Model.ReturnAttribute.GetError("Address"))
                </label>
            </section>
            <section class="col col-2">
                <label class="label" for="AddressNumber">Nº</label>
                <label class="input">
                    @Html.TextBoxFor(o => o.AddressNumber, new { @autoautocomplete = false })
                    @Html.Raw(Model.ReturnAttribute.GetError("AddressNumber"))
                </label>
            </section>
        </div>
        <div class="row">
            <section class="col col-6">
                <label class="label" for="Address">Cidade</label>
                <label class="input">
                    @Html.TextBoxFor(o => o.City, new { @autoautocomplete = false })
                    @Html.Raw(Model.ReturnAttribute.GetError("City"))
                </label>
            </section>
            <section class="col col-6">
                <label class="label" for="State">Estado</label>
                <label class="input">
                    @Html.TextBoxFor(o => o.State, new { @autoautocomplete = false })
                    @Html.Raw(Model.ReturnAttribute.GetError("State"))
                </label>
            </section>
        </div>
        <section>
            <label class="label" for="PhoneNumber">Whatsapp ou Telefone Comercial</label>
            <label class="input">
                @Html.TextBoxFor(o => o.PhoneNumber, new { @autoautocomplete = false })
                @Html.Raw(Model.ReturnAttribute.GetError("PhoneNumber"))
            </label>
        </section>
        <section>
            <label class="label" for="Email">E-mail</label>
            <label class="input">
                @Html.TextBoxFor(o => o.Email, new { @autoautocomplete = false })
                @Html.Raw(Model.ReturnAttribute.GetError("Email"))
            </label>
        </section>
        <section>
            <label class="label" for="Senha">Senha</label>
            <label class="input">
                <i class="icon-append fa fa-lock"></i>
                @Html.TextBoxFor(o => o.Password, new { @type = "password", @autoautocomplete = false })
                @Html.Raw(Model.ReturnAttribute.GetError("Password"))
            </label>
        </section>
    </fieldset>
    <footer>
        <button type="button" class="btn btn-default pull-left" id="btnFormSignIn" onclick="Login();">
            Já tenho cadastro
        </button>
        <button type="submit" class="btn btn-primary" id="btnFormSignSubmit">
            Enviar dados
        </button>
    </footer>
}
<script type="text/javascript">
    $("#frmSignIn").submit(function (e) {
        var postData = $(this).serializeArray();
        var formURL = $(this).attr("action");

        $("#frmSignIn").prop("disabled", true);

        $.ajax(
            {
                url: formURL,
                type: "POST",
                data: postData,
                beforeSend: function () {
                    OnBeginForm();
                },
                success: function (data, textStatus, jqXHR) {
                    $("#pnlFormLogin").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    OnCompleteForm();
                },
                complete: function () {
                    OnCompleteForm();
                }
            });
        e.preventDefault(); //STOP default action
    });

    function Login() {
        $('#frmSignIn').hide();
        $('#frmLogin').show();
        $('#frmLogin #Email').focus();
    }
</script>
@Html.Raw(FrontEnd.Helpers.Notify.JsNotify(Model.ReturnAttribute, "FormSignIn"))